.nomedia
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mp
*.mtc
*.mtc1
*.nav
*.nlo
*.out
*.pdfsync
*.snm
*.tmp
*.toc
*.top
*.tui
*.vrb
*.xdv
latexci_xelatex_*_log.txt
